ipykernel
langchain
python-dotenv
streamlit
langchain_community
langchain_core
langserve
fastapi
uvicorn
google-generativeai
langchain-google-genai
sse_starlette
langchain-ollama
bs4
pypdf
faiss-cpu
sentence-transformers
chromadb